.draggable-item {
  padding: 8px;
  border: 2px solid #ddd;
  background-color: white;
  transition: background-color 0.2s ease;
  cursor: grab;
  
  transition: transform 0.2s ease;
}

.draggable-item:active {
  background-color: #f0f0f0;
  cursor: grabbing;
}

.image-style {
  width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s;
}
/* gallery.css */
.droppable-gallery {
  min-height: 100px; /* Add a minimum height to ensure it's always present */
}


.draggable-item.dragging {
  opacity: 0.5;
  transform: rotate(3deg);
  border: 2px solid #007bff;
}


.image-style.selected {
  border: 2px solid #007bff; /* Example border color for selected images */
  transform: scale(1.05); /* Optional: scale effect on selected images */
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.feature-text {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 10;
}

.image-style.selected .feature-text {
  display: none;
}


