.draggable-item {
  padding: 8px;
  border: 2px solid #ddd;
  background-color: white;
  transition: background-color 0.2s ease;
  cursor: grab;
  
  transition: transform 0.2s ease;
}

.draggable-item:active {
  background-color: #f0f0f0;
  cursor: grabbing;
}

.image-style {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* gallery.css */
.droppable-gallery {
  min-height: 100px; /* Add a minimum height to ensure it's always present */
}


.draggable-item.dragging {
  opacity: 0.5;
  transform: rotate(3deg);
  border: 2px solid #007bff;
}

.image-style {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* gallery.css */
.image-style {
  cursor: pointer;
  transition: transform 0.2s;
}

.image-style.selected {
  border: 2px solid #007bff; /* Example border color for selected images */
  transform: scale(1.05); /* Optional: scale effect on selected images */
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
